@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
nav {
  width: 100%;
  background: #000;
}
.toggle {
  width: 100%;
  padding: 10px 20px;
  background: #000;
  display: none;
}
.burger div {
  background: #fff;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  cursor: pointer;
}
ul {
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
}
ul li {
  list-style: none;
  display: inline-block;
  padding: 25px;
}
ul li:hover {
  background: #232;
}
ul li a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  .toggle {
    display: block;
  }
  ul {
    width: 100%;
    display: none;
  }
  ul li {
    display: block;
    text-align: right;
    font-size: large;
  }
  .active {
    display: block;
  }
}
