* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
  }
  body, button, input {
    font: 1em Hind, sans-serif;
    line-height: 1.6em;
  }
  body, input {
    color: #171717;
  }
  body, .search-bar {
    display: flex;
  }
  body {
    background: #b0e2ff;
    height: 100vh;
  }
  .search-bar input,
  .search-button, 
  .search-button:before, 
  .search-button:after {
    transition: all 0.25s ease-out;
  }
  .search-bar input,
  .search-button {
    width: 2.5em;
    height: 2.5em;
  }
  .search-bar input:invalid:not(:focus),
  .search-button {
    cursor: pointer;
  }
  .search-bar,
  .search-bar input:focus,
  .search-bar input:valid  {
    width: 100%;
  }
  .search-bar input:focus,
  .search-bar input:not(:focus) + .search-button:focus {
    outline: transparent;
  }
  .search-bar {
    margin: auto;
    padding: 1.5em;
    justify-content: center;
    max-width: 40em;
  }
  .search-bar input {
    background: #b0e2ff;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #171717 inset;
    padding: 0.75em;
    transform: translate(0.5em,0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    background: #fff;
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1);
  }
  .search-button {
    background: #b3f4f7;
    border-radius: 0 1.75em 1.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
    transform-origin: 0 50%;
  }
  .search-button:before, 
  .search-button:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
  }
  .search-button:before {
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.2em #b0e2ff inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
  }
  .search-button:after {
    background: #b0e2ff;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em,0) rotate(45deg);
    transform-origin: 0 50%;
  }
  .search-button span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
  }
  
  /* Active state */
  .search-bar input:focus + .search-button,
  .search-bar input:valid + .search-button {
    background: #27f3f3;
    border-radius: 0 0.5em 0.5em 0;
    transform: scale(1);
  }
  .search-bar input:focus + .search-button:before, 
  .search-bar input:focus + .search-button:after,
  .search-bar input:valid + .search-button:before, 
  .search-bar input:valid + .search-button:after {
    opacity: 1;
  }
  .search-bar input:focus + .search-button:hover,
  .search-bar input:valid + .search-button:hover,
  .search-bar input:valid:not(:focus) + .search-button:focus {
    background: #6bb2f8;
  }
  .search-bar input:focus + .search-button:active,
  .search-bar input:valid + .search-button:active {
    transform: translateY(1px);
  }
  
  @media screen and (prefers-color-scheme: dark) {
    body, input {
      color: #f1f1f1;
    }
    body {
      background: #c55555;
    }
    .search-bar input {
      box-shadow: 0 0 0 0.4em #da8282 inset;
    }
    .search-bar input:focus,
    .search-bar input:valid {
      background: #3d3d3d;
      box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    .search-button {
      background: #f1f1f1;
    }
  }