button {
  border: none;
  background-color: rgb(238, 97, 97);
  font-weight: bold;
  font-size : '0.75rem';
  color: white;
  border-radius: 10px;
  display: block;
  padding: 15px 20px;
  width: 150px;
}

.aler-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.alert-grid {
  max-width: 400px;
  height: 200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  background-color: rgb(224, 220, 220);
  padding: 50px;
  box-shadow: 0 8px 8px 3px lightgrey;
}

.alert-button {
  width: 150px;
  height: 50px;
  border-radius: 3px;
  background-color: rgba(253, 169, 14, 0.5);
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-popUp {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}