:root {
  --primary: #824dfe;
  --secondary: #4017e8;

  --black-1: #15161c;
  --black-2: #1e1e2a;
  --black-3: #0d0c12;
  --black-4: #282a34;
  --black-5: #222a35;

  --grey-1: #41434f;
  --grey-2: #36394b;
  --grey-3: #3c3f51;
  --grey-4: #5F5F68;
  
  --white-1: #e0e0e0;
  --white-2: #FEFFFF;
  
  --secondary-1: #fda3fc;
  --secondary-2: #677ab3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
}